* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Roboto Slab";
}
a {
  color: inherit;
  text-decoration: none;
}
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

body {
  position: relative;
  background: url(../img/download.jpg) repeat center center;
  background-size: cover;
}

.timer-numbers {
  position: relative;
  margin-top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  height: 400px;
  color: #C78030;
  font-size: 130px;
}

.timer {
  /* border: 1px solid red; */
  border-radius: 10px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
}
